<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!--   
  <arg name='ml' default='100'/>
  <rosparam param="ml_des_volume" subst_value="True">$(arg ml)</rosparam> 
  -->
  <node name='main_node'   pkg='pouring_unknown_geom'  type='main.py' output='screen'/>
  <node name='pub_sawyer_control_node'   pkg='pouring_unknown_geom'  type='sawyer_control_node.py' output='screen'/>


  <!-- Store the data (for plotting the model) -->
  <arg name="save_data" default="false"/>
  <arg name="data_name" default="test" />
  <arg name="data_trial" default="001" />

  <node pkg="rosbag" type="record"  name="rosbag_se2planning"
  args="-b 1024 -O $(find pouring_unknown_geom)/bagfiles/$(arg data_name)_trial_$(arg data_trial).bag
  /Pour_Model_opt
  /pouring_msg
  /pour_vol_ang
  /des_height
  /robot/joint_states
  /mh_mh_dot
  /scale_node/scale
  /robot/limb/right/joint_command
  /h_filtered
  /LDHeight
  /raw_h_ml
  /raw_h_clust_ml
  /model_volume_output
  /Hybrid_controller_data
  /pg_13344889/camera_info
  /pg_13344889/image_raw 
  "
  if="$(arg save_data)"/>

<!-- 
topics not included:
  /pg_13344889/camera_info
  /pg_13344889/image_raw 
  /LDOutput_fg
  /LDOutput
  /camera/apriltags/
  /camera/image_detection
  /robot/head_display
-->

</launch>
